{% extends 'base.html.twig' %}

{% block title %}Formulario Contacto{% endblock %}

{% block body %}
{{parent()}}
<div class ="container mt-5">
    <a class = "btn mb-1" href ="{{path('categoriaSecundaria', {'id': idCatPP,'idPerfil': idPerfil})}}"><i class="fas fa-arrow-left mt-1" style = "font-size: 25px; color: #0F9FA8;"></i></a>
    {# <a class = " text-secondary" style = "text-decoration: none;font-size: 25px;text-transform: uppercase;"  style = "margin-left: 30px; margin-top: 40px;" href = "{{path('sistema')}}"> Inicio</a> #}
    <h1 class = "text-center  mt-5" style = "font-size: 50px;">Contáctese con Nosotros</h1>
    <div class = "container mt-5"  id ="divContacto">
        {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
        <div class = "container mt-5" id = "divDNI">
            <b class = "text-warning" style = "font-size:20px;">*<b>
            {{ form_widget(formulario.nombre, {attr: {class: 'form-control camposEstandar',  placeholder: 'Ingrese su nombre'}})}}
        </div>
        <div class = "container mt-5" id = "divDNI">
            <b class = "text-warning" style = "font-size:20px;">*<b>
            {{ form_widget(formulario.apellido, {attr: {class: 'form-control camposEstandar', placeholder: 'Ingrese su apellido'}})}}
        </div>
        <div class = "container mt-5 text-center"  id = "divPertenece">
            <b class = "text-warning" id = "asteriscoEmail" style = "font-size:20px;">*<b>
            {{ form_widget(formulario.email, {attr: {class: 'form-control camposEstandar', placeholder: 'Ingrese su email'}})}}
        </div> 
        <div class = "container mt-5 text-center" id = "formMotivo">
            <h6 class ="text-warning ml-2" id = "minimoCaracter" >*Mínimo 30 caracteres</h6>
            {{ form_widget(formulario.motivo_contacto, {attr: {class: 'form-control camposEstandar', placeholder: 'Motivo del contacto'}})}}
        </div>   
        <div class = "text-center mt-5">
            <h3 > Agregar datos opcionales </h3>
            <input id = "agregarOpcionales" type = "checkbox">
        </div>
        <div class = "container" id = "divOpcionales">
            <div class = "row mt-5 justify-content-center">
                <div class = "col-sm-2 mb-3" id = "codArea">
                    <h6 class =" text-center">*Cod. Área</h6>
                   {{ form_widget(formulario.codigoArea, {attr: {class: 'form-control camposEstandar', placeholder: '', id: 'telefonoContacto'}})}}
                </div>
                
                <div class = "col-sm-3" id = "telefono">
                <h6 class =" text-center">*Teléfono sin 15</h6>
                    {{ form_widget(formulario.telefono, {attr: {class: 'form-control camposEstandar', placeholder: '', id: 'telefonoContacto'}})}}
                </div>
             
            </div>
            
            <div class = "text-center container mt-5" id = "divDNI">
                <h6 class ="">*Ingrese sólo numeros sin puntos ni espaciado</h6>
                {{ form_widget(formulario.dni, {attr: {class: 'form-control camposEstandar', placeholder: 'DNI', id: 'DNI'}})}}
            </div>
            <div class = "text-center container mt-5" id = "divDNI">
                <h6 class ="">*Máximo 5MB por archivo. Se puede seleccionar mas de uno hasta 5</h6>
                {{form_widget ( formulario.documento , { attr : { accept :  ' application / .jpg , .png, .pdf, .bmp, .doc, .docx, .gif, .jpeg' }})}}
            </div>


        </div>
        <hr>
        <div class = "row mt-5 justify-content-center">
            <div class = "col"></div>
            <div class = "col">
                <div class="g-recaptcha" data-sitekey="6LfM9DUaAAAAAIIBa9tNK0uv5t7gS2SFHi-0Y0sz" data-callback="enabledSubmit" ></div> 
            </div>
            <div class = "col"></div>
        </div>
        <h6 class = "text-danger text-center mt-3" id = "textCaptcha"> Por favor verifique el captcha para poder enviar su consulta </h6>
        <div class = "container mt-5 text-center" id = "divEnviar">
            {{ form_widget(formulario.Enviar, {attr: {class: 'btn btn-outline-info btn-lg'}})}}
            
        </div>
      
    {{ form_end(formulario) }}

    <br>
    <br>
    </div>
    
</div>
<br>
<br>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src = "{{asset('js/verificarCaptcha.js')}}"> </script>
{% block javascripts %}
{{parent()}}
<script src = "{{asset('js/validacionesExtras.js')}}"></script>
<script src = "{{asset('js/animaciones.js')}}"></script>
<script src = "{{asset('js/accionesQuery.js')}}"></script>
{% endblock %}
{% endblock %}