{% extends 'base.html.twig' %}

{% block title %}FAQS - Formulario Contacto{% endblock %}

{% block body %}
{{parent()}}
<div class ="container mt-3" id = "fondoBlanco">
    
    {# <a class = " text-secondary" style = "text-decoration: none;font-size: 25px;text-transform: uppercase;"  style = "margin-left: 30px; margin-top: 40px;" href = "{{path('sistema')}}"> Inicio</a> #}
    <h1 class = "text-center" style = "font-size: 50px;">Contáctese con Nosotros</h1>
    <div class = "container mt-4"  id ="divContacto">
        <a class = "btn  grow" href ="{{path('informacion', {'id': idCatSec,'idPerfil': idPerfil, 'idCatPP': idCatPP})}}"><i class="fas fa-arrow-left mt-1" style = "font-size: 25px; color: #0F9FA8"></i></a>
        {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
        <div class = " mt-4 formContacto" id = "">
            <b class = "text-warning" style = "font-size:20px;">*<b>
            {{ form_widget(formulario.nombre, {attr: {class: 'form-control camposEstandar',  placeholder: 'Ingrese su nombre'}})}}
        </div>
        <div class = " mt-4 formContacto" id = "">
            <b class = "text-warning" style = "font-size:20px;">*<b>
            {{ form_widget(formulario.apellido, {attr: {class: 'form-control camposEstandar', placeholder: 'Ingrese su apellido'}})}}  
        </div>
         <div class = " mt-4 formContacto" id = "">
            <b class = "text-warning" style = "font-size:20px;">*<b>
            {{ form_widget(formulario.email, {attr: {class: 'form-control camposEstandar', placeholder: 'Ingrese su email'}})}}
        </div> 
        <div class = " mt-4 formContacto" id = "">
            <h6 class ="text-warning ml-2" id = "minimoCaracter">*Mínimo 30 caracteres</h6>
            {{ form_widget(formulario.motivo_contacto, {attr: {class: 'form-control camposEstandar', placeholder: 'Motivo del contacto'}})}}
        </div>   
        <div class = "mt-4 text-center">
            <h3 class = ""> Agregar datos opcionales </h3>
            <input id = "agregarOpcionales" class = "grow" type = "checkbox">
        </div>
        <div id = "divOpcionales" class = "container">
            <div class = "row mt-4">
                <div class = "col-sm-3"></div>
                <div class = "col-sm-3">
                    {{ form_widget(formulario.codigoArea, {attr: {class: 'form-control camposEstandar', placeholder: 'Código de área'}})}}
                </div>
                <div class = "col-sm-3">
                    {{ form_widget(formulario.telefono, {attr: {class: 'form-control camposEstandar', placeholder: 'Nº teléfono'}})}}
                </div>
            </div>
            <div class = "row mt-4">
                <div class = "col-sm-3"></div>
                <div class = "col-sm-3">
                    {{ form_widget(formulario.dni, {attr: {class: 'form-control camposEstandar', placeholder: 'DNI sin puntos'}})}}
                </div>
                 <div class = "col-sm-3">
                    {{form_widget ( formulario.documento , { attr : { accept : ' application / .jpg , .png, .pdf, .bmp, .doc, .docx, .gif, .jpeg', title: '*Máximo 5MB por archivo. 5 archivos máximo'}})}}
                </div>
            </div>
        </div>
        <br>
        <hr>
        <div class = "row mt-4 justify-content-center">
            <div class = "col"></div>
            <div class = "col">
                <div class="g-recaptcha" data-sitekey="6LfM9DUaAAAAAIIBa9tNK0uv5t7gS2SFHi-0Y0sz" data-callback="enabledSubmit" ></div>
                <h6 class = "text-danger text-left mt-3" id = "textCaptcha"> Por favor verifique el captcha para poder enviar su consulta </h6> 
            </div>
            <div class = "col"></div>
        </div>
        <div class = "container mt-4 text-center" id = "divEnviar">
            {{ form_widget(formulario.Enviar, {attr: {class: 'btn btn-outline-info btn-lg'}})}}
        </div>
        {{ form_end(formulario) }}
    <br>
    <br>
    </div>
</div>
<br>
<br>
<script src = "{{asset('js/verificarCaptcha.js')}}"> </script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% block javascripts %}
{{parent()}}
<script src = "{{asset('js/validacionesExtras.js')}}"></script>
<script src = "{{asset('js/animaciones.js')}}"></script>
{% endblock %}
{% endblock %}