{% extends 'base.html.twig' %}

{% block title %}Bienvenido!{% endblock %}

{% block body %}
{{parent()}}
<div class = "marginTop container mt-5"> 
        <div class = "text-center">
                <img class = "mb-4" src = "{{asset('img/iconoUnraf.png')}}" id = "icono" width="60" height="60" alt="iconoUnraf" > 
                <h1 style="font-size:50px; display:inline; color: #0F9FA8; "class = "text-center " >Sistema de Ayuda </h1>
                
        </div>  
        <br>
        <form class = "row" >
                <div class = "col-sm-6 " id = "ParteComunidad">
                        <div class = "container">
                                <div class = " list-group container" id = "CatPerfilDiv">  
                                        <p class = "list-group-item list-group-item-action text-center text-white" style = "background-color: #0F9FA8;">Pertenezco a la comunidad de UNRAf y necesito ayuda como:</p>
                                </div>
                                <div class = "list-group container" id = "ListaPerfiles">
                                {% for perfiles in perfil %}
                                        
                                        {% if  perfiles.comunidadUnraf == 'Pertenece' %}
                                                {% if perfiles.publicado == "Publicado" %}
                                                        {% if perfiles.icono != null and perfiles.icono != "" %}
                                                                <a id="borde" class = "list-group-item list-group-item-action mb-1"  href = "{{path('categoriaPrincipal', {'id': perfiles.id})}}" data-toggle="tooltip" data-placement="top" data-html="true" title="{{perfiles.descripcionLarga}}"><img src="{{asset(('uploads/iconos/'~ perfiles.icono))}}" style="width:22px;margin-bottom:5px;margin-right: 10px;" class=" imagenSistema ">{{perfiles.descripcionCorta}}</a>   
                                                        {% else %}
                                                                <a id="borde" class = "list-group-item list-group-item-action mb-1"  href = "{{path('categoriaPrincipal', {'id': perfiles.id})}}" data-toggle="tooltip" data-placement="top" data-html="true" title="{{perfiles.descripcionLarga}}">{{perfiles.descripcionCorta}}</a>   
                                                        {% endif %}
                                                {% endif %}
                                        {% endif %}             
                                {% endfor %}
                                </div>
                        </div>
                      
                </div>
                <div class = "col-sm-6 " id ="NoParteComunidad" >
                        {# <div class = "container form-group mt-5 text-center">
                                <h5> No soy parte de la comunidad UNRaf y tengo interés en: </h5>
                        </div>
                        <div class = "container form-group mt-5 text-center">
                                <select class="form-control" id="FormControlSelect1" onchange = "location = this.value;">
                                <option value = ""> Seleccione una opcion... </option> 
                                {% for perfiles in perfil %}
                                        {% if perfiles.comunidadUnraf == 'No Pertenece' %}
                                                <option style = "text-transform: uppercase;" value = "{{path('categoriaPrincipal', {'id': perfiles.id})}}">{{perfiles.descripcionCorta}}</option> 
                                        {% endif %}    
                                {% endfor %}                                 
                                </select>
                        </div>  #}
                        <div class="container">
                                <div class = "list-group container" id ="CatPerfilDivR">  
                                        <p class = "list-group-item list-group-item-action text-center text-white" style = "background-color: #0F9FA8;">No pertenezco a la comunidad de UNRAf y tengo interés en:</p>
                                </div>
                                <div class="list-group container" id="ListaPerfilesR">
                                        {% for perfiles in perfil %}
                                                {% if  perfiles.comunidadUnraf == 'No Pertenece' %}
                                                        {% if perfiles.publicado == "Publicado" %}
                                                                        {% if perfiles.icono != null and perfiles.icono != "" %}
                                                                                
                                                                        <a id = "borde" class = "list-group-item list-group-item-action mb-1"  href = "{{path('categoriaPrincipal', {'id': perfiles.id})}}" data-toggle="tooltip" data-placement="top" data-html="true" title="{{perfiles.descripcionLarga}}"><img src="{{asset(('uploads/iconos/'~ perfiles.icono))}}" style="width:22px;margin-bottom:5px;margin-right: 10px;" class=" imagenSistema">{{perfiles.descripcionCorta}}</a>   
                                                                {% else %}
                                                                        
                                                                        <a id = "borde" class = "list-group-item list-group-item-action mb-1"  href = "{{path('categoriaPrincipal', {'id': perfiles.id})}}" data-toggle="tooltip" data-placement="top" data-html="true" title="{{perfiles.descripcionLarga}}">{{perfiles.descripcionCorta}}</a>   
                                                                {% endif %}
                                                        {% endif %}
                                                {% endif %}             
                                        {% endfor %}
                                </div>
                        </div>
                               
                        
                       
                </div>    
        </form>


</div>
<br>
<br>
{% block javascripts %}
{{parent()}}
<script src = "{{asset('js/animaciones.js')}}"></script>
<script src = "{{asset('js/popup.js')}}"></script>
{% endblock %}
{% endblock %}
