{% extends 'base.html.twig' %}

{% block title %}FAQS - Modificar Destinos{% endblock %}

{% block body %}
{{parent()}}
<div class = "container" >
    
    <div class = "container mt-4" id = "divCruds" >
        <a class = "btn" href = "{{path('verDestinos')}}"><i class="fas fa-arrow-left grow " style = "font-size: 30px;color: #0F9FA8;"></i></a>
        <h1 class = "text-center  " style = "font-size: 50px;">Modificar Destinos</h1>
        {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
        <div class = "container mt-5" id = "divPertenece">
            {{ form_widget(formulario.email, {attr: {class: 'form-control camposEstandar', placeholder: 'Email'}})}}
        </div>
        
        <div class = "container mt-5 text-center">
            {{ form_widget(formulario.Aceptar, {attr: {class: 'btn btn-outline-info btn-lg'}})}}
        </div>
        {{ form_end(formulario) }}
    </div>
</div>
{% endblock %}
