
{% extends 'base.html.twig' %}

{% block title %}FAQS - Modificar Roles{% endblock %}

{% block body %}
{{parent()}}
<div class = "container">
    <h2 class = "text-center text-info" style = "font-size: 50px"> Usuarios </h2>
    <div class = "list-group mt-4" id = "divRoles">
        <div style="margin-top:5px;">
                <div class="bordeSombreado degrade divBuscar">
                {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
                <div class="row">
                    <div class = "col-sm-3"></div>
                    <div class="col-sm-6">
                        <h6 class = "text-center pb-2" style="color:#306086">Busqueda</h6>
                        <div class = "media">
                            {{ form_widget(formulario.buscar, {attr: {class: 'form-control',placeholder: 'Buscar por email...'} }) }}  
                            {{ form_widget(formulario.Buscar, {attr: {class: 'btn btn-buscar'} }) }} 
                        </div>
                    </div>
                    <div class = "col-sm-4"></div>
                </div>
                {{ form_end(formulario) }}
                <div class = "text-center mt-2">
                    <b style = "color: #0F9FA8;">Cantidad de usuarios: {{usuario|length}} </b>
                </div>
            </div> 
        </div>
        <div class = "container mt-3 p-5 bordeSombreado divBuscar" >
            <div class = "row">
                <div class = "col-sm-4">
                    <h5 class = "text-center" style = "color: #0F9FA8">Email</h5>
                </div>
                <div class = "col-sm-3">
                    <h5 class = "text-center" style = "color: #0F9FA8">Último acceso</h5>   
                </div>
                <div class = "col-sm-5">
                    <h5 class = "text-center" style = "color: #0F9FA8">Asignar roles</h5>
                </div>
            </div>
            {% for user in usuario %}
                   <div class = "row mt-5">
                        <div class = "col-sm-4">
                            <p class = "text-center">{{user.email}}</p>
                        </div>
                        <div class = "col-sm-3">
                            <p class = "text-center">{{user.ultimoAcceso|date("d/m H:i")}}</p>
                        </div>
                        <div class = "col-sm-5">
                            {% for rol in user.roles %}
                        {# El loop last sirve para analizar en base al ultimo rol, y que no aparezcan 70 botones, porque uno
                        Tiene 1 o mas roles siempre #}
                            {% if loop.last %} 
                                {% if rol == "ROLE_SUPERADMIN" %}
                                    <a class = "btn btn-outline-info p-2 ml-3 btn-sm" href = "{{path('cambioLector', {'id': user.id})}}">Lector</a>
                                    <a class = "btn btn-outline-info p-2 ml-3 btn-sm" href = "{{path('cambioEditor', {'id': user.id})}}">Editor</a>
                                    <a class = "btn btn-outline-info p-2 ml-3 btn-sm" href = "{{path('cambioAdmin', {'id': user.id})}}">Admin</a>
                                {% elseif rol == "ROLE_ADMIN" %}
                                    <a class = "btn btn-outline-info p-2 ml-3 btn-sm " href = "{{path('cambioLector', {'id': user.id})}}">Lector</a>
                                    <a class = "btn btn-outline-info p-2 ml-3 btn-sm" href = "{{path('cambioEditor', {'id': user.id})}}">Editor</a>
                                    <a class = "btn btn-outline-info p-2 ml-3 btn-sm" href = "{{path('cambioSuperadmin', {'id': user.id})}}">SuperAdmin</a>
                                {% elseif rol == "ROLE_EDITOR"%}
                                    <a class = "btn btn-outline-info p-2 ml-3 btn-sm" href = "{{path('cambioLector', {'id': user.id})}}">Lector</a>
                                    <a class = "btn btn-outline-info p-2 ml-3 btn-sm" href = "{{path('cambioAdmin', {'id': user.id})}}">Admin</a>
                                    <a class = "btn btn-outline-info p-2 ml-3 btn-sm" href = "{{path('cambioSuperadmin', {'id': user.id})}}">SuperAdmin</a>
                                {% else %}
                                    <a class = "btn btn-outline-info p-2 ml-3 btn-sm" href = "{{path('cambioEditor', {'id': user.id})}}">Editor</a>
                                    <a class = "btn btn-outline-info p-2 ml-3 btn-sm" href = "{{path('cambioAdmin', {'id': user.id})}}">Admin</a>
                                    <a class = "btn btn-outline-info p-2 ml-3 btn-sm" href = "{{path('cambioSuperadmin', {'id': user.id})}}">SuperAdmin</a>
                                {% endif %}
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                <hr style = "background-color: orange;">
            {% endfor %}
        </div>
    </div>
</div>
<br>
<br>
<script src = "{{asset('js/deleteUser.js')}}"></script>
{% endblock %}


       