{% extends 'base.html.twig' %}

{% block title %}Dar Roles{% endblock %}

{% block body %}
{{parent()}}
<div class = "container mt-5">
    <h2 class = "text-center text-info" style = "font-size: 50px"> Usuarios </h2>
    <div class = "list-group mt-5" id = "divRoles">
        <div class = "container mt-5 p-5" style = "box-shadow: 2px 3px 5px 1px #888888">
            {% for users in usuarios %}
                <div class = "row">
                    <div class ="col-sm-8">
                        <p class "list-group-item">{{users.email}}</p>
                    </div>

                    <div class = "col">
                        {% for rol in users.roles %}
                        {# El loop last sirve para analizar en base al ultimo rol, y que no aparezcan 70 botones, porque uno
                        Tiene 1 o mas roles siempre #}
                        {% if loop.last %} 
                            {% if rol == "ROLE_SUPERADMIN" %}
                                <a class = "btn btn-outline-info p-2 ml-3 btn-sm" href = "{{path('cambioLector', {'id': users.id})}}">Lector</a>
                                <a class = "btn btn-outline-info p-2 ml-3 btn-sm" href = "{{path('cambioEditor', {'id': users.id})}}">Editor</a>
                                <a class = "btn btn-outline-info p-2 ml-3 btn-sm" href = "{{path('cambioAdmin', {'id': users.id})}}">Admin</a>
                            {% elseif rol == "ROLE_ADMIN" %}
                                <a class = "btn btn-outline-info p-2 ml-3 btn-sm " href = "{{path('cambioLector', {'id': users.id})}}">Lector</a>
                                <a class = "btn btn-outline-info p-2 ml-3 btn-sm" href = "{{path('cambioEditor', {'id': users.id})}}">Editor</a>
                                <a class = "btn btn-outline-info p-2 ml-3 btn-sm" href = "{{path('cambioSuperadmin', {'id': users.id})}}">SuperAdmin</a>
                            {% elseif rol == "ROLE_EDITOR"%}
                                <a class = "btn btn-outline-info p-2 ml-3 btn-sm" href = "{{path('cambioLector', {'id': users.id})}}">Lector</a>
                                <a class = "btn btn-outline-info p-2 ml-3 btn-sm" href = "{{path('cambioAdmin', {'id': users.id})}}">Admin</a>
                                <a class = "btn btn-outline-info p-2 ml-3 btn-sm" href = "{{path('cambioSuperadmin', {'id': users.id})}}">SuperAdmin</a>
                            {% else %}
                                <a class = "btn btn-outline-info p-2 ml-3 btn-sm" href = "{{path('cambioEditor', {'id': users.id})}}">Editor</a>
                                <a class = "btn btn-outline-info p-2 ml-3 btn-sm" href = "{{path('cambioAdmin', {'id': users.id})}}">Admin</a>
                                <a class = "btn btn-outline-info p-2 ml-3 btn-sm" href = "{{path('cambioSuperadmin', {'id': users.id})}}">SuperAdmin</a>
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <hr style = "background-color: orange;">
            {% endfor %}
        </div>
    </div>
</div>
<br>
<br>

{% endblock %}
