{% extends 'base.html.twig' %}

{% block title %}FAQS - Modificar Categorias Secundarias{% endblock %}

{% block body %}
{{parent()}}
    
    <div class ="container" >
        
        <h1 class = "text-center " style = "font-size: 50px;">Modificar Categoría Secundaria</h1>
        <div class = "container mt-2" id = "divCruds">
            <a class = "btn " href = "{{path('verCategoriasSecundarias')}}"><i class="fas fa-arrow-left grow" style = "font-size: 30px; color: #0F9FA8; "></i></a>
            {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
            <div class = "container  mt-4" id = "divPertenece">
                <h6 class = "text-left ml-1">Asociar a Categoría PP...</h6>
                {{ form_widget(formulario.id_categoria_principal, {attr: {class: 'form-control camposEstandar'}})}}
            </div>
            <div class = "container  mt-4" id = "divPertenece">
                {{ form_widget(formulario.nombre_categoria, {attr: {class: 'form-control camposEstandar', placeholder: 'Nombre categoría secundaria'}})}}
            </div>
            <div class = "container  mt-4" id = "divDescripcLarga">
                {{ form_widget(formulario.descripcion_categoria, {attr: {class: 'form-control camposEstandar', placeholder: 'Descripción'}})}}
            </div>
            <div class = "row mt-4 justify-content-center">
                <div class = "col-sm-3">
                    <label style = "color: #0F9FA8"class = " col-sm-12 text-center">Fecha Publicación Desde: </label>
                </div>
                <div class = "col-sm-1"></div>
                <div class = "col-sm-3">
                    {{ form_widget(formulario.fecha_publicacion_desde, {attr: {class: 'form-control camposEstandar', style: 'cursor: text;'} })}}
                </div>
            </div>
            {% if catSecundarias.fechaPublicacionHasta == null %}
                <div class = "text-center mt-4">
                    <h3 class = "text-info"> Agregar fecha de caducidad </h3>
                    <input id = "agregarFecha" type = "checkbox" class = "grow">
                </div>
                <div class = "row mt-3 justify-content-center" id = "divFechaCaducidad">
                    <div class = "col-sm-3">
                        <label style = "color: #0F9FA8" class = " col-sm-12 text-center">Fecha Publicación Hasta: </label>
                    </div>
                    <div class = "col-sm-1"></div>
                    <div class = "col-sm-3">
                        {{ form_widget(formulario.fecha_publicacion_hasta, {attr: {class: 'form-control camposEstandar', style: 'cursor: text;'} })}}
                    </div>
                </div>
            {% else %}
                <div class = "row mt-3 justify-content-center">
                    <div class = "col-sm-3">
                        <label style = "color: #0F9FA8" class = " col-sm-12 text-center">Fecha Publicación Hasta: </label>
                    </div>
                    <div class = "col-sm-1"></div>
                    <div class = "col-sm-3">
                        {{ form_widget(formulario.fecha_publicacion_hasta, {attr: {class: 'form-control camposEstandar', style: 'cursor: text;'} })}}
                    </div>
                </div>
            {% endif %}
            {% if catSecundarias.perfilAsignado == null or catSecundarias.perfilAsignado.id == '1' %}
                <div class = "text-center mt-4">
                    <h3 class = "text-info"> Elija un perfil a asociar <i class = "text-secondary">*opcional</i> </h3>
                    <input id = "agregarPerfil" type = "checkbox" class = "grow">
                </div>
                <div class = "row mt-3 justify-content-center" id = "divPerfilAsociado">
                    <div class = "col-sm-3">
                        <label style = "color: #0F9FA8" class = " col-sm-12 text-center">Perfil </label>
                    </div>
                    <div class = "col-sm-1"></div>
                    <div class = "col-sm-3">
                        {{ form_widget(formulario.perfilAsignado, {attr: {class: 'form-control camposEstandar'}})}}
                    </div>
                </div>
            {% else %}
                <div class = "row mt-3 justify-content-center">
                    <div class = "col-sm-3">
                        <label style = "color: #0F9FA8" class = " col-sm-12 text-center">Perfil asignado: </label>
                    </div>
                    <div class = "col-sm-1"></div>
                    <div class = "col-sm-3">
                        {{ form_widget(formulario.perfilAsignado, {attr: {class: 'form-control camposEstandar'}})}}
                    </div>
                </div>
            {% endif %}
       
            <div class = "container mt-4 text-center">
                {{ form_widget(formulario.Aceptar, {attr: {class: 'btn btn-outline-info btn-lg'}})}}
            </div>
            {{ form_end(formulario) }}
        </div>
    </div>
<br>
<br>
{% block javascripts %}
{{parent()}}

{% endblock %}
{% endblock %}
