{% extends 'base.html.twig' %}

{% block title %}FAQS - Modificar Información{% endblock %}

{% block body %}

{{parent()}}
<div class ="container" >
    <h1 class = "text-center  " style = "font-size: 50px;">Modificar Información</h1>
    <div class = "container mt-4" id = "divCruds" >
        <a class = "btn grow"  href = "{{path('verInformacion')}}"><i class="fas fa-arrow-left " style = "font-size: 30px; color: #0F9FA8;"></i></a>
        {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
            <div class = "container mt-4 " id = "divPertenece">
                {{ form_widget(formulario.descripcion_corta, {attr: {class: 'form-control camposEstandar', placeholder: 'Descripción Corta'}})}}
            </div>
            <div class = "container mt-4 " id = "divPertenece">
                <h6 class ="text-left ml-1">Categoría secundaria a asociar...</h6>
                {{ form_widget(formulario.id_categoria_secundaria, {attr: {class: 'form-control camposEstandar'}})}}
            </div>
            
            <div class = "container  mt-4 text-center" id = "divInfoText">
                <label style= "color: #0F9FA8;" class = " mb-3 text-center">Explicación: </label>
                {{ form_widget(formulario.explicacion, {attr: {class: 'form-control camposEstandar', placeholder:"Explicación", type: 'fos_ckeditor'} })}}
            </div>
            <div class = "container mt-4 text-center">
                {{ form_widget(formulario.Aceptar, {attr: {class: 'btn btn-outline-info btn-lg'}})}}
            </div>
        {{ form_end(formulario) }}
    </div>
</div>
<br>
<br>

{% endblock %}
