{% extends 'base.html.twig' %}

{% block title %}FAQS - Ver Información{% endblock %}

{% block body %}
{{parent()}}
<div class = "container-fluid">
    <div class="bordeSombreado degrade divBuscar">
        {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
        <div class="row">
            <div class="col-sm-6">
                <h6 class = "text-center" style="color:#306086">Busqueda</h6>
                <div class = "media">
                    {{ form_widget(formulario.buscar, {attr: {class: 'form-control',placeholder: 'Buscar por descripción...'} }) }}  
                    {{ form_widget(formulario.Buscar, {attr: {class: 'btn btn-buscar'} }) }} 
                </div>
            </div>
            <div class="col-sm-6">
                <h6 style="color:#306086" class = "text-center">Crear nueva información</h6>
                <div class = "text-center">
                    <a class = "btn botonCeleste ancho text-white grow text-center" style = "" href = "{{path('altaInformacion')}}">Nueva info</a>
                </div>
            </div>
        </div>
        {{ form_end(formulario) }}
        <div class = "m-2">
            <b style = "color: #0F9FA8;">Cantidad de información: {{informacion|length}} </b>
        </div>
    </div> 
    <br>
    <table class="table table-borderless">
        <thead class = "text-white">
                <tr style = "background-color: #0F9FA8;">
                <th>Nº</th>
                <th>Descripción Corta</th>
                <th>Categoria Sec Asociada</th>
                <th style="text-align: center;">EDITAR</th>
                <th style="text-align: center;">ELIMINAR</th>
            </tr>
        </thead>
        <tbody id="myTable">
            {% for info in informacion %}
            <tr>
                <th>{{ loop.index }}</th>
                <td>{{info.descripcionCorta}}</td>
                <td>{{info.idCategoriaSecundaria.nombreCategoria}}</td>
                <td style="text-align: center;"><a class ="btn grow" href="{{path ('modificarInformacion', {'id': info.id})}}" ><i class="far fa-edit text-success" style = "font-size: 20px;"></i></a></td>
                <td style="text-align: center;"><a class = "btn grow" onclick="DeleteFunction({{info.id}})"><i class=" fas fa-trash text-danger"   style = "font-size: 20px"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
<div>
<br>
<script src = "{{asset('js/verInformacion.js')}}"></script>
{% endblock %}