{% extends 'base.html.twig' %}

{% block title %}FAQS - Modificar Perfiles{% endblock %}

{% block body %}
    {{parent()}}    
        <div class ="container">
            
            <h1 class = "text-center  " style = "font-size: 50px;">Modificar Perfil</h1>
            <div class = "container mt-2" id = "divCruds" >
                <a class = "btn" href = "{{path('verPerfiles')}}"><i class="fas fa-arrow-left grow" style = "font-size: 30px; color: #0F9FA8;"></i></a>
                {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
                <div class = "container  mt-4" id = "divPertenece">
                    {{ form_widget(formulario.descripcion_corta, {attr: {class: 'form-control camposEstandar', placeholder: 'Descripción Corta'}})}}
                </div>
                <div class = "container  mt-4" id = "divDescripcLarga">
                    {{ form_widget(formulario.descripcion_larga, {attr: {class: 'form-control camposEstandar', placeholder: 'Descripción Larga'}})}}
                </div>
                <div class = "container  mt-4" id = "divPertenece">
                    {{ form_widget(formulario.comunidad_unraf, {attr: {class: 'form-control camposEstandar'}})}}
                </div>
                <div class = "container  mt-4" id = "divPertenece">
                    {% if imagen != null %}
                    <img src="{{asset(('uploads/iconos/'~ imagen))}}" alt="Imagen del sistema">
                    {% else %}
                        <h6 class = "text-left ml-1" style = "font-size: 15px;" data-toggle="tooltip" data-placement="top" data-html="true" title="Únicamente tamaño 30x30">*No hay ícono cargado, únicamente 30x30</h6>
                    {% endif %}
                    {{form_widget ( formulario.icono , { attr : { accept : ' application / .ico , .png ' , class : ' form-control camposEstandar' }})}}
                </div>
                <div class = "row mt-4 justify-content-center">
                    <div class = "col-sm-3">
                        <label style = "color: #0F9FA8"class = " col-sm-12 text-center">Fecha Publicación Desde: </label>
                    </div>
                    <div class = "col-sm-1"></div>
                    <div class = "col-sm-3">
                        {{ form_widget(formulario.fecha_publicacion_desde, {attr: {class: 'form-control camposEstandar', style: 'cursor: text;'} })}}
                    </div>
                </div>
                <div class = "text-center mt-4">
                    <h3 class = ""> Agregar fecha de caducidad </h3>
                    <input id = "agregarFecha" type = "checkbox" class = "grow">
                </div>
             
                <div class = "row mt-3 justify-content-center" id = "divFechaCaducidad">
                    <div class = "col-sm-3">
                        <label style = "color: #0F9FA8" class = " col-sm-12 text-center">Fecha Publicación Hasta: </label>
                    </div>
                    <div class = "col-sm-1"></div>
                    <div class = "col-sm-3">
                        {{ form_widget(formulario.fecha_publicacion_hasta, {attr: {class: 'form-control camposEstandar', style: 'cursor: text;'} })}}
                    </div>
                </div>
            
                <div class = "container mt-4 text-center">
                    {{ form_widget(formulario.Aceptar, {attr: {class: 'btn btn-outline-info btn-lg'}})}}
                </div>
           
                {{ form_end(formulario) }}
            </div>
        </div>
        <br>
        <br>
  
{% block javascripts %}
{{parent()}}
{% endblock %}
    
  
{% endblock %}
