{% extends 'base.html.twig' %}

{% block title %}FAQS - Ver Perfiles{% endblock %}

{% block body %}
{{parent()}}
<div class = "container-fluid">
   <div class="bordeSombreado degrade divBuscar">
        {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
        <div class="row">
            <div class="col-sm-6">
                <h6 class = "text-center" style="color:#306086">Busqueda</h6>
                <div class = "media">
                    {{ form_widget(formulario.buscar, {attr: {class: 'form-control',placeholder: 'Buscar por descripción...'} }) }}  
                    {{ form_widget(formulario.Buscar, {attr: {class: 'btn btn-buscar'} }) }} 
                </div>
            </div>
            <div class="col-sm-6">
                <h6 style="color:#306086" class = "text-center">Crear nuevo perfil</h6>
                <div class = "text-center">
                    <a class = "btn botonCeleste ancho text-white grow text-center" style = "" href = "{{path('altaPerfiles')}}">Nuevo perfil</a>
                </div>
            </div>
        </div>
        {{ form_end(formulario) }}
        <div class = "m-2">
            <b style = "color: #0F9FA8;">Cantidad de perfiles: {{perfil|length}} </b>
        </div>
    </div> 
    <br> 

    <table class="table table-borderless">
        <thead class = "text-white">
            <tr style = "background-color: #0F9FA8;">
                <th>Nº</th>
                <th>Descripción</th>
                <th>Publicado</th>
                <th>Fecha Publicación Desde</th>
                <th>Pertenece</th>
                <th style="text-align: center;">ASIGNAR CATEGORÍAS</th>
                <th style="text-align: center;">EDITAR</th>
                <th style="text-align: center;">ELIMINAR</th>
            </tr>
        </thead>
        <tbody id="myTable">
            {% for perfiles in perfil %}
            <tr>
                <th>{{ loop.index }}</th>
                <td>{{perfiles.descripcionCorta}}</td>
                <td>{{perfiles.publicado}}</td>
                <td>{{perfiles.fechaPublicacionDesde|date('d-m-Y')}}</td>
                <td>{{perfiles.comunidadUnraf}}</td>
                <td style="text-align: center;"><a class ="btn grow" href="{{path ('asignarCategorias', {'id' : perfiles.id})}}" data-toggle="tooltip" data-placement="left" data-html="true" title="Asignar categorías principales a {{perfiles.descripcionCorta}}"><i class="fas fa-people-arrows text-info" style = "font-size: 20px;"></i></a></td>
                <td style="text-align: center;"><a class ="btn grow" href="{{path ('modificarPerfiles', {'id': perfiles.id})}}" ><i class="far fa-edit text-success" style = "font-size: 20px;"></i></a></td>
                <td style="text-align: center;"><a class = "btn grow" onclick="DeleteFunction({{perfiles.id}})"><i class=" fas fa-trash text-danger"   style = "font-size: 20px"></i></a></td>
                
            </tr>
            
            {% endfor %}
            
        </tbody>
            
    </table>  
</div>
<br>
{% block javascripts %}
{{parent()}}
<script src = "{{asset('js/popup.js')}}"></script>
{% endblock %}
<script src= "{{asset('js/verPerfiles.js')}}"></script>    



{% endblock %}